// Per color names
//////////////////////////////////////////////////
$color-black-100: ; 
$color-black-200: ; 
$color-black-300: ; 
$color-black-400: ; 
$color-black-500: ; 

$color-grey-100: ; 
$color-grey-200: ; 
$color-grey-300: ; 
$color-grey-400: ; 
$color-grey-500: ; 

$color-white-100: ; 
$color-white-200: ; 
$color-white-300: ; 
$color-white-400: ; 
$color-white-500: ;

$color-red-100: ;
$color-red-200: ;
$color-red-300: ;
$color-red-400: ;
$color-red-500: ;
// Continue on with other colors

// Base semantic names
//////////////////////////////////////////////////
$theme-bg-100: ;
$theme-bg-200: ;
$theme-bg-300: ;
$theme-bg-400: ;
$theme-bg-500: ;

$theme-fg-100; ;
$theme-fg-200; ;
$theme-fg-300; ;
$theme-fg-400; ;
$theme-fg-500; ;

$theme-primary: ;
$theme-secondary: ;
$theme-tertiary: ;

$theme-success: ;
$theme-failure: ;

$theme-info: ;
$theme-warning: ;
$theme-danger: ;

$theme-zero: ;  // Intended for battery charge state, connection strength, hw temps etc.
$theme-low: ;
$theme-med: ;
$theme-high: ;
$theme-full: ;

// Per widget names
//////////////////////////////////////////////////

// Audio
$theme-volume-bar-bg-output: ;
$theme-volume-bar-output: ;
$theme-volume-bar-bg-input: ;
$theme-volume-bar-input: ;

// Datetime
$theme-calendar-selected: ;
$theme-calendar-month-year: ;
$theme-calendar-buttons: ;
$theme-calendar-button-hover: ;
$theme-calendar-day-names: ;

// Hardware monitor
$theme-cpu-bar: ;
$theme-gpu-bar: ;
$theme-ram-bar: ;
$theme-disk-bar: ;

// Networking
$theme-network-internet: ;
$theme-network-no-internet: ;
$theme-network-vpn-connected: ;

$theme-bluetooth-device-connected: ;
$theme-bluetooth-device-paired: ;
$theme-bluetooth-device-available: ;

// Workspaces
$theme-workspace-button: ;
$theme-workspace-button-background: ;
$theme-workspace-window-open: ;
$theme-workspace-active: ;
$theme-workspace-active-primary: ;
$theme-workspace-active-secondary: ;
$theme-workspace-active-tertiary: ;
