$c-black-0h: #1d2021;
$c-black-0: #282828;
$c-black-1: #3c3836;
$c-black-2: #504945;
$c-black-3: #665c54;
$c-black-4: #7c6f64;

$c-light-1: #a89984;
$c-light-2: #bdae93;
$c-light-3: #d5c4a1;
$c-light-4: #ebdbb2;
$c-light-5: #fbf1c7;

$c-red-1: #cc241d;
$c-red-2: #fb4934;

$c-hl-a1: #cc241d;
$c-hl-a2: #fb4934;

$c-yellow-1: #d79921;
$c-yellow-2: #fabd2f;

$c-hl-b1: #d79921;
$c-hl-b2: #fabd2f;

$c-green-1: #98971a;
$c-green-2: #b8bb26;

$c-hl-c1: #98971a;
$c-hl-c2: #b8bb26;

$c-blue-1: #458588;
$c-blue-2: #83a598;

$c-hl-d1: #458588;
$c-hl-d2: #83a598;

$c-purple-1: #b16286;
$c-purple-2: #d3869b;

$c-hl-e1: #b16286;
$c-hl-e2: #d3869b;

$c-aqua-1: #689d6a;
$c-aqua-2: #8ec07c;

$c-hl-f1: #689d6a;
$c-hl-f2: #8ec07c;

$c-orange-1: #d65d0e;
$c-orange-2: #fe8019;

$c-hl-g1: #d65d0e;
$c-hl-g2: #fe8019;

