$c-black-1: #15161e;
$c-black-2: #1a1b26;

$c-dark-1: #1f2335;
$c-dark-2: #24283b;
$c-dark-3: #292e42;
$c-dark-4: #3b4261;
$c-dark-5: #414868;

$c-light-1: #545c7e;
$c-light-2: #565f89;
$c-light-3: #737aa2;
$c-light-4: #a9b1d6;
$c-light-5: #c0caf5;

$c-red-1: #c53b53;
$c-red-2: #db4b4b;
$c-red-3: #ff757f;
$c-red-4: #f7768e;
$c-red-5: #ff007c;

$c-yellow-1: #ff9e64;
$c-yellow-2: #e0af68;
$c-yellow-3: #ffc777;

$c-green-1: #9ece6a;
$c-green-2: #c3e88d;

$c-teal-1: #41a6b5;
$c-teal-2: #4fd6be;

$c-blue-1: #394b70;
$c-blue-2: #3d59a1;
$c-blue-3: #7aa2f7;
$c-blue-4: #7dcfff;
$c-blue-5: #b4f9f8;

$c-purple-1: #9d7cd8;
$c-purple-2: #bb9af7;

