* {
    animation: unset;
    background: unset;
    border: unset;
    box-shadow: unset;
    text-shadow: unset;
    transition: unset;

    font-family: $font-family-propo;
    font-size: $font-size-500;
}
